


header {
background-color: #4a90e2;
color: white;
padding: 20px;
text-align: center;
}


main {
padding: 200px;
text-align: center;
}


.card {
background: white;
max-width: 400px;
margin: 0 auto;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


footer {
margin-top: 40px;
padding: 10px;
text-align: center;
font-size: 14px;
color: #777;
}